@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(./fontello.css);
*, 
*::before, 
*::after{
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;      /*no-repeat 50% 0은 배경화면의 반복-바둑판식을 없애고 background position의 위치를 x축 50%-중앙, y축 0으로 위치함을 속기한것이다.*/
  color: #181818;   /*속기법으로 작성 시 배경 이미지의 경우 삽입할 이미지(url)를 먼저 선언(삽입)한 뒤에 색상 속성을 입력해야 정상 구현된다.*/
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll, #fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%); /*배경 그라데이션*/
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position : absolute;
  width : 1px;
  height : 1px;
  overflow : hidden;
  margin: -1px;
  clip-path: polygon(0 0,0 0,0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}/* 부모에게 상속받은 속성을 우선시하는 값 inherit; */
/* 레이아웃 */
.container{
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}
.header, 
.visual, 
.main, 
.slogan, 
.footer{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 26px;
  left: 60px;
}
/* 멤버링크 */
.member {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member li,
.member a {
  display: inline-block; /* 블록형식인 요소를 인라인형식으로 바꿔서 수평으로 정렬 이후 부모요소에 text-align: right;로 우측 정렬*/
}
.member li {
  font-size: 1.4rem;
}
.member a { 
  text-transform: uppercase; /* 대문자로 표기 uppercase; */
  padding: 2px 8px 2px 3px;
}
.member [aria-hidden] {
  /* margin: 0 5px; */ 
}/* 속성선택자  .요소 [ 속성] {}*/
/* 메인 메뉴 */
.menu {
  background: #dd6e00 linear-gradient(to bottom, #e09e2c 0%,#dd6e00 35%,#dd6e00 70%,#e09e2c 100%);
  /* background의 속성인 linear-gradient 앞에 색상 #dd6e00을 넣은 이유는 만약 그라디언트된 색상이 불러오는 도중 문제가 생겼을 경우 대안으로 배경 색상을 넣기 위함이다. */
  padding-left: 0px;
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}
.menu::after {
  content: "";
  display: block;
  clear: both;
}
.menu-item {
  float: left;
  position: relative;
}
.btn-menu {
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  line-height: 48px;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  padding: 0 20px;
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu {
  color: #ff0;
}
.menu-act .btn-menu::after {
  content: "";
  display: block;
  background-color: #000;
  height: 2px; /* border-bottom: 2px solid #000;와 같이 밑줄을 만들 수도 있지만 height로 만들면 음영 등 더 많은 표현 방법을 적용시킬 수 있다. */
  top: 2px;
}
.sub-menu {
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  display: none;
  /* width: 300px; */
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 1em;
}
.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

/* 비주얼 */
@keyframes textAni {
  0%/*from*/{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100%/*to*/{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.visual {
  height: 120px;
  position: relative
}
.visual::before,
.visual::after {
  animation: bgAni 2000ms ease-in-out infinite alternate;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-delay: 1000ms;
}
.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif; /*글꼴에는 '글꼴군'이라는게 있다. 속성에서 글꼴 선언 후 ','를 사용하여 추가로 글꼴군을 선언 해줘야한다.*/
  font-size: 2.4rem; /*글자의 두께(추가적인 크기 포함), 위치의 변화는 애니메이션에서 조정*/
  animation: textAni 500ms ease-in-out forwards; /*animation-name: textAni; animation-duration: 5s; animation-fill-mode: forwards; 의 단축 표기*/
  width: 500px;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 로그인 */
.login {
  background-color: #db5629;
  background-image: radial-gradient(circle at right top, #ef962f, #db5629); /*그라디언트 속성*/
  border-radius: 5px;
  box-shadow:5px 5px 0 0 #ccc;
  padding: 10px;
  width: calc(100% - 5px); /* calc속성 */
}
.login-heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: yellow;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
}
.login-form {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  padding-bottom: 5px;
  border-bottom: solid 1px #aaa;
}
.login-form div {
  width: 150px;
  margin-bottom: 5px;
}
.login-form label {
  display: inline-block;
  width: 55px;
}
.login-form input {
  width: 90px;
  height: 24px;
  border: solid 1 #aaa;
  padding: 1px 1px 1px 0.5em; /*UX를 바탕으로 입력란에 클릭 시 알 수 있는 여백 제공*/
}
.btn-login {
  width: 50px;
  height: 52px;
  border-radius: 3px;
  border: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #db5629;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0;
}
.member-only {
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.member-only li:first-child {
  float: left;
}
.member-only li:last-child {
  float: right;
}
.member-only a {
  padding-top: 5px;
  padding-bottom: 5px;  
}
.member-only a::before {
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
  color: #db5629;
}
/* 유효성 검사 배너 링크 */
.validation-list {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
  list-style: none;
}
.validation-list a {
  display: block;
  padding: 8px 10px 8px 45px;
  /* line-height: 30px; */
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: #ccc;
  background-image: url(./images/validation_icon.png),
    linear-gradient(180deg, #ccc, #eee);
  background-repeat: no-repeat;
  background-position: 15px 50%, 0 0;
}
.validation-list a:hover {
  color: #f00; /* a:hover의 경우 띄어쓰기를 하면 안되는 부분을 기억해야 한다. 띄어쓰기를 할 경우 a요소 내부의 자식 요소 중 어떠한 것이라도 해당 속성이 작용하게 된다.*/
}
/* 웹 관련 용어 */
.term {
  background: #ccc linear-gradient(180deg, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  /* background-color: yellow;
  background: linear-gradient(180deg, #ccc, #eee);
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  border: 1px solid #aaa;
  border-radius: 10px; */
}
.term-heading {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  /* font-size: 1.5rem; */
}
.term-list {
  margin-top: 10px;
  margin-bottom: 0;
}
.term-list > div {
  margin-top: 10px;
}
.term-list-subject,
.term-list-brief {
  width: 145px;
  /* float: right; */
  /* display: inline;
  color: rgb(51, 51, 255); */
}
.term-list-subject {
  color: #296897;
}
.term-list-thumbnail {
  margin-left: 0;
  /* float: left; */
  /* padding: 0;
  margin: 0; */
  /* width: 60px; float을 사용하면 width는 따로 지정하지 않아도 subject와 brief의 레이어에 영향을 주지 않게됨 */
  /* float: left;
  margin-right: 20px; */
}
.term-list-brief {
  margin-left: 0;
  margin-top: 5px;
  /* margin-top: 10px; */
}
.term-list > div::after {
  content: "";
  display: block;
  clear: both;
}
.odd > .term-list-subject,
.odd > .term-list-brief,
.even > .term-list-thumbnail {
  float: right;
}
.odd > .term-list-thumbnail,
.even > .term-list-subject,
.even > .term-list-brief {
  float: left;
}
/* 검색폼 */
.search-form {
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px 25px;
  background: #ccc linear-gradient(180deg, #ccc, #fff);
}
.search-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  border-bottom: 0;
}
.search-form div[role="group"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.search-form label,
.btn-search {
  white-space: nowrap;
}
.search-form label::before {
  content: "\e802";
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
  color: #000;
}
.search-form input[type="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
  height: 24px;
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-search {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
  font-size: 1.3rem;
  height: 24px;
  padding: 0 10px;
}
/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
  min-height: 180px;
  padding-top: 45px;
}
.notice-heading,
.pds-heading {
  /* float: left; */
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 0;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 73px;
}
.tab {
  display: block;
  color: #666;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  background: #ccc linear-gradient(180deg, #ccc, #eee);
}
.tab-act .tab {
  color: #db5629;
  border-color: #db5629 #db5629 #fff #db5629;
  background: #fff;
}
.notice-list,
.pds-list,
.notice-more,
.pds-more {
  display: none;
}
.tab-act .notice-list,
.tab-act .pds-list,
.tab-act .notice-more,
.tab-act .pds-more {
  display: block ;
}
.notice-list,
.pds-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  /* position: absolute; */
  /* top: 45px; */
  /* left: 0; */
  min-height: 130px;
  /* width: 100%; */
}
.notice-list li,
.pds-list li {
  margin-bottom: 10px;
}
.notice-list li::after,
.pds-list li::after {
  content: "";
  display: block;
  clear: both;
}
.notice-list a,
.pds-list a {
  float: left;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.notice-list a::before,
.pds-list a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
}
.notice-list time,
.pds-list time {
  float: right;
}
.notice-more,
.pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.icon-plus::before {
  color: hsla(110, 70%, 50%, 1);
}
/* 슬로건 */
.slogan{
  background-color: orange;
  clear: both;
}
.footer-bg{
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}

/* .validation-list {
  color: black;
  list-style-image: url(./images/validation_icon.png);
}
.validation-list li {
  width: 250px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: radial-gradient(circle at bottom, lightgray, rgb(95, 95, 95));
} */
/* 
.search-form {
  background: green linear-gradient(180deg, #ccc, #eee);
  border: 1px solid #aaa;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 25px 10px 25px;
}
.search-form fieldset {
  border: none;
  display: flex;
  justify-content: center;
}
#search {
  width: 200px;
  margin: 0 5px;
  flex: 1 1 auto;
}
.btn-search {
  background-color: #000000;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
} */

/* top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 70px;
}
.tab { 
  display: block;
  background:#aaa linear-gradient(180deg, #aaa, #fff);
  margin: 0;
  padding: 5px;
  border: 1px solid #aaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.notice-heading a:focus {
  border: 1px solid #f00;
  color: #f00;
}
.pds-heading a:focus {
  border: 1px solid #f00;
  color: #f00;
}
.notice-list,
.pds-list {
  background-color: pink;
  position: absolute;
  left: 0;
  top: 45px;
}
.notice-list li,
.pds-list li {
  padding: 0;
  width: 380px;
  list-style: none;
}
.notice-list a,
.pds-list a {
  background-color: green;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice-list time,
.pds-list time {
  float: right;
}
.notice-list time::after,
.pds-list time::after {
  content: "";
  display: block;
  clear: both;
}
.notice-list a::before,
.pds-list a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.board time {
}
.icon-plus {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-plus::before {
  color: darkgreen;
} */